name: Validate Nix Flake
on:
  workflow_dispatch:
  push:
jobs:
  check-flake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Lix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Check Flake
        run: nix flake check
